<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="main">
      <div class="heading">
        <h1>Welcome to XYZ Clothing App</h1>
        <nav class="indexNav">
          <ul>
            <li><a href="/men">MEN</a></li>
            <li><a href="/women">WOMEN</a></li>
            <li><a href="/kids">KIDS</a></li>
          </ul>
          <ul>
            <li><a href="/new">ADD NEW ITEM</a></li>
          </ul>
        </nav>
      </div>

      <div class="allItems">
        <% if (locals.cards) { %> <% cards.forEach((item) => { %> <%-
        include('card', {user: item}) %> <% })}; %>
      </div>
    </div>
  </body>
</html>
