<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Item</title>
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
    </nav>
    <div>
      <span>ITEM NAME: <%= user.itemname %></span>
      <div>
        <span>CURRENT IMAGE: </span>
        <img src="<%= user.url %>" alt="<%= user.itemname %>" />
      </div>
      <span>CURRENT PRICE: <%= user.price %></span>
      <form action="" method="POST">
        <label for="image">New Image</label>
        <input type="url" name="url" id="image" />
        <label for="price">New Price</label>
        <input type="number" name="price" id="price" />

        <div class="adminPassword">
          <label for="password">Admin Password: </label>
          <input type="text" name="password" id="password" />
        </div>

        <button type="submit">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
